.button-one {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 8px 20px;
    color: white;
    background: rgb(103, 92, 156);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.button-one svg {
    margin-right: 8px;
    width: 25px;
}

.button-one:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
}

.button-one:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
}

.button-one::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
}

.button-one::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
}

.button-one:hover::before,
.button-one:hover::after {
    height: 60%;
}


.FileContainer {
    position: relative;
    display: flex;
    // padding-right: 20px;
    width: 80px;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0, 0.01, 0, 1.04);
}


// ---------------- send button  =------------------
.send_btn {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    color: var(--secondary-color);
    padding: 10px 20px;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    // gap: 0.6em;
    font-weight: bold;

    span {
        text-wrap: nowrap;
        padding-right: 10px;
    }
}

.send_btn .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send_btn:hover {
    background-color: var(--hover-color);
}

.send_btn:hover .arrow {
    background: var(--secondary-color);
}

.send_btn:hover .arrow:before {
    right: 0;
}