:root {
    --dark-background-color: #202124;
    --sidebar-background-color: #222429f7;
    --sidebar-content-background-color: #33464f;
}

.chat_containner.dark_mode {
    background: #202124;

    .add_user {
        color: #fff;
    }

    #aside {
        .aside {
            background: #222429f7;
        }

        .navigate {
            background: #33464f;

            .link {
                background: #7d7d7d45;

                &::before {
                    background: #33464f;
                }

                a {
                    color: #d4d4d4;
                }
            }

            .link.active {
                &::before {
                    background: #1976d2;
                }

                a {
                    color: #1976d2;
                }
            }
        }
    }

    .profile_main {
        background: #33464f;
    }

    .avatar_heading {
        color: #fff;
    }

    .avatar_title {
        color: #d4d4d4;
    }

    .right-msg .msg-bubble {
        background: #52708e;
    }

    .setting-btn {
        color: #d4d4d4;
        background: #7d7d7d45;

        &::before {
            background: #33464f;
        }
    }


    .setting-btn.active {
        color: #1976d2;
        background: #222429f7;

        &::before {
            background: #1976d2;
        }
    }

    .searchbar {
        border-color: #494e5170;

        .icon {
            color: #d4d4d4;
        }

        .search_field {
            input {
                color: #d4d4d4;
            }
        }
    }

    .search {
        border-color: #494e5170;
    }


    // contact list 

    .chatList_main_container {
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: #33464f;
                border: 6px solid #222429f7;
            }
        }


        .chat_card.active {
            background: #33464f;
        }

        .chat_card:hover {
            background: #33464f;
        }

        .textBox {
            color: #c9c9c9;
            font-family: 'Poppins' sans-serif;
        }
    }

    .chat_inner_section::-webkit-scrollbar-thumb {
        background: transparent;
        border-color: transparent;
    }

    .chat_inner_section:hover::-webkit-scrollbar-thumb {
        background: #33464f;
        border-color: #202124;
    }

    // main chat section 
    main {
        .chat-container {
            .chat_navbar {
                background: #222429f7;
            }

            .chat_operation {
                background: #222429f7;
            }

            .chat_section {
                background: #000;
            }

            .menu_btn {
                color: #fff;
            }
        }
    }

    #w-input-text {
        color: #fff;

        &::-webkit-scrollbar-thumb {
            border-color: #33464f;
        }
    }

    #w-input-container {
        background: #33464f;
    }

    .w-placeholder {
        color: #909a9f;
    }

    .chat-container {

        .user_profile_section {
            background: #33464f;
            border-left: 1px solid #33464f;

            .profile_heading {
                color: #ffff;
            }

            p {
                color: #fff9f99c;
            }
        }
    }

    .msg-bubble {
        box-shadow: none;
    }

    .left-msg {
        .msg-info-name {
            color: #fff;
        }

        .msg-text {
            color: #d4d4d4;
        }

        .msg-info-time {
            color: #1976d2;
        }

        .msg-bubble {
            background: #33464f
        }
    }

    .ClipBoard {
        color: #fff
    }

    .default_message {
        color: #fff;
    }
}