.settings_model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;

    .settings {
        width: 500px;
        height: 450px;
        transform: translateY(-100%);
        border-radius: 8px;
        border: 1px solid #dddddd9e;
        position: absolute;
        left: 10px;
        top: 98%;
        overflow: hidden;
        right: auto;

        @media screen and (max-width:560px) {
            height: 450px;
            width: auto;
            right: 10px;
        }
    }

    .settings_list {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: flex-start;
        background: #e3f2fd99;
        backdrop-filter: blur(15px);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;

        @media screen and (max-width:560px) {
            width: 50px;
            overflow: hidden;
        }
    }

    .settings_section {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 30%;
        z-index: 8;

        @media screen and (max-width:560px) {
            padding-left: 50px;
        }
    }

    .settings_section_inner {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        padding: 10px 20px;
    }

    .setting_menu {
        padding: 4px;
        width: 100%;
    }

    .setting_btn {
        width: 100%;
        padding: 5px 4px;
        border-radius: 6px;
        position: relative;
        margin: 3px 0px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 60%;
            left: 0px;
            // background: rgb(25, 118, 210);
            top: 50%;
            transform: translateY(-50%);
            border-radius: 0px 3px 3px 0px;
        }
    }

    .setting_btn.active {
        background: #d0d5d769;

        &::before {
            background: #1976d2;
        }
    }

    .setting_btn_section {
        padding-left: 10px;
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;

        .icon {
            // padding-top: 5px;
        }

        .text {
            font-size: 13px;
            padding-left: 10px;

            @media screen and (max-width:560px) {
                padding-left: 20px;
            }
        }
    }
}

.setting_main_section {
    width: 100%;
    height: 100%;
    overflow: auto;

    .setting_heading {
        color: #000;
    }

    .Accordion {
        .title {
            color: #000;
        }
        .content {
            color: #4e4e4e;
            padding-left: 10px;
        }
    }
}