* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s linear;
}

body {
    background: url('../assets/background.svg') repeat;
}

@import './model/comman';
@import './model/button';
@import './model/loader';
@import './model/chat';
@import './model/chat_dark';
@import './model/setting';
@import './model/setting_dark';

.main {
    max-height: 100vh;
    background: #fafbfd98;
    min-height: 100vh;
    height: 100vh;
}

.just_center {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;


    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../assets/bottom.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
        z-index: -1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url('../assets/top.svg');
        background-repeat: no-repeat;
        background-position: left top;
        z-index: -1;
    }
}

.form-heading {
    color: #675c9c;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}


.drop-container {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    border: 2px dashed #e8e8e8;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;

    span {
        position: absolute;
        font-size: 50px;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        left: 0px;
        color: #e8e8e8;
        top: 0px;
        padding: 0px 20px;
    }
}

.drop-container:hover {
    background: #fcfdfe;
    border-color: #e8e8e8;
}


#file_input {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
}

#file_input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: transparent;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

#file_input::file-selector-button:hover {
    background: none;
}

.preview {
    width: 99%;
    height: 99%;
    border-radius: 50%;
}